html {
    scroll-behavior: smooth;
}

.brand-img {
	height: 10vmin;
	width: auto;
	padding: 0px;
	margin-right: 30vw;
}

@media (min-width: 768px) {
	.brand-img {
		height: 70px;
		width: auto;
		margin: auto;
	}
}

.ukr-flag {
    content: url(../icons/flags/UA.png);
}

.eng-flag {
    content: url(../icons/flags/GB.png);
}

.rus-flag {
	content: url(../icons/flags/RU.png);
}
